.footer {
    display: flex;
  
    .container {
        width: 1280px;
        margin: auto;

        .top {
            display: flex;
            justify-content: center;
            gap: 71px;
            margin: 50px 0px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 12px;

                h2 {}

                span {}
            }
           
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 23px 0px;
      

            .left {
                display: flex;
                align-items: center;
                gap: 12px;

                h2 {}

                span {}
            }

            .right {
                display: flex;
                gap: 13px;

                .social {
                    display: flex;
                    gap: 12px;
                }

                img {
                    width: 20px;
                    height: 20px;
                }

                .link {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
        }
    }
   
}
hr{
    width: 99%;
}